{% extends "base.html" %}
{% block content %}
    <script src="static/spools.js" defer></script>
    <h1>Spools</h1>
    <div id="UI">
        <input type="text" id="search_box" placeholder="Filter by">
        <button id="lock">Unlock data</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Line #</th>
                <th>Drawing #</th>
                <th>Revision #</th>
                <th>Line Spec</th>
                <th>Spool</th>
                <th>Drawing Issued</th>
                <th>Welded Date</th>
                <th>NDE Date</th>
                <th>PWHT Date</th>
                <th>Hydro Date</th>
            </tr>
        </thead>
        <tbody id="spools_data">
            {% for spool in spools %}                  
            <tr>
                <td contenteditable="false" class="editable"> {{ spool.id }}</td>
                <td contenteditable="false" class="editable"> {{ spool.line_number }}</td>
                <td contenteditable="false" class="editable"> {{ spool.drawing_number }}</td>
                <td contenteditable="false" class="editable"> {{ spool.revision_number }}</td>
                <td contenteditable="false" class="editable"> {{ spool.line_spec }}</td>
                <td contenteditable="false" class="editable"> {{ spool.spool_number }}</td>
                <td contenteditable="false" class="editable"> {{ spool.dwg_issued_date }}</td>
                <td contenteditable="false" class="editable"> {{ spool.welded_date }}</td>
                <td contenteditable="false" class="editable"> {{ spool.nde_date }}</td>
                <td contenteditable="false" class="editable"> {{ spool.pwht_date }}</td>
                <td contenteditable="false" class="editable"> {{ spool.hydro_date }}</td>
                <td class="delete_button" style="display: none"><button>X</button></td>
            </tr>
            {% endfor %}
        </tbody>

        <form method="POST">
        {{ new_spool.hidden_tag() }}
        <tr>
            <td>Add</td>
            <td>{{ new_spool.new_spool_line_number() }}</td>
            <td>{{ new_spool.new_spool_dwg_number() }}</td> 
            <td>{{ new_spool.new_spool_rev_number() }}</td>
            <td>{{ new_spool.new_spool_line_spec() }}</td>
            <td>{{ new_spool.new_spool_spool() }}</td>
            <td>{{ new_spool.new_spool_dwg_date() }}</td>
            <td>{{ new_spool.new_spool_welded_date() }}</td>
            <td>{{ new_spool.new_spool_nde_date() }}</td>
            <td>{{ new_spool.new_spool_pwht_date() }}</td>
            <td>{{ new_spool.new_spool_hydro_date() }}</td>

        </tr>
        <tr>
            <td>blank</td>
            <td>{{ new_spool.submit() }}</td>
        </tr>  
        </form>
    </table>
{% endblock %}
