{% extends "base.html" %}
{% block content %}
    <h1>Welds</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Spool</th>
            <th>Weld</th>
            <th>Size</th>
            <th>Thick</th>
            <th>Type</th>
            <th>Welder</th>
            <th>Welded Date</th>
            <th>VT</th>
            <th>VT Date</th>
            <th>NDE #</th>
            <th>NDE Date</th>
        </tr>
        
        <!-- for loop iterates through first list in table data, rows is not only the index but also a list itself -->
        {% for rows in table_data %}                  
        <tr>
            <!-- loop over each cell in the second list in table data, since rows is its own list I can do that-->
            {% for cell in rows %}
            <td> {{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <form method="POST">
        {{ new_weld.hidden_tag() }}
        <tr>
            <td>Add</td>
            <td>{{ new_weld.new_weld_spool() }}</td>
            <td>{{ new_weld.new_weld_weld() }}</td> 
            <td>{{ new_weld.new_weld_size() }}</td>
            <td>{{ new_weld.new_weld_thick() }}</td>
            <td>{{ new_weld.new_weld_type() }}</td>
            <td>{{ new_weld.new_weld_welder() }}</td>
            <td>{{ new_weld.new_weld_weld_date() }}</td>
            <td>{{ new_weld.new_weld_vt() }}</td>
            <td>{{ new_weld.new_weld_vt_date() }}</td>
            <td>{{ new_weld.new_weld_nde_number() }}</td>
            <td>{{ new_weld.new_weld_nde_date() }}</td>
        </tr>
        <tr>
            {{ new_weld.submit() }}
        </tr>            
        </form>


    </table>
    <form method="POST">
        {{ comment_form.hidden_tag() }}
        {{ comment_form.comment.label }}
        {{ comment_form.comment() }}
        {{ comment_form.submit() }}
    </form>

    
{% endblock %}
